{
  "model_sizes": [1, 3, 11],
  "seeds": [42, 123, 456, 789, 555],
  "gcp_project": "", // GCP project ID
  "gcp_zone": "us-central1-a",
  "machine_type": "a2-highgpu-1g",
  "gpu_type": "nvidia-tesla-a100",
  "gpu_count": 1,
  "disk_image": "llm-tocrch-cuda-ft",
  "script_repo": "",
  "repo_dir": "", // Directory where the script repository is cloned
  "requirements": "requirements.txt",
  "wandb_project": "", // Weights & Biases project name
  "model_hub_namespace": "" // Namespace for the huggingface model hub
}